farm-haystack[preprocessing]==1.22.1
qdrant-haystack>=1.0.0

pdfplumber
python-docx
tiktoken
uvicorn
fastapi
openpyxl
python-pptx
odfpy
beautifulsoup4
lxml
pandas
xlrd
extract-msg
pytesseract
Pillow
qdrant-haystack

